

.timebuttons, #timertime{
  display: flex;
  justify-content: space-between;
}

.timebutton{
  width: 76px;
  height: 32px;
  line-height: 32px;
  border: 1px solid lightseagreen;
  border-radius: 3px;
  transition: .2s
}

.timebutton:hover{
  background-color: #dfe;
}

.timebutton:active{
  background-color: #070;
  color: whitesmoke;
}

.timebutton, #timertime>div, #timerswitch{
  text-align: center;
}

.swon{
  background-color: #070;
  color: antiquewhite;
  transition: .3s;
}

.timebutton, #timerswitch{
  cursor: pointer;
}

#timer{
  width: 320px;
  user-select: none;
}

#timertime>div{
  font-family:  Tahoma, "Helvetica Neue", Helvetica, sans-serif;
  width: 64px;
  height: 60px;
  line-height: 60px;
  font-size: 40px;
}

#timerswitch{
  box-sizing: border-box;
  margin-top: 4px;
  width: 320px;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  border: 1px solid lightseagreen;
  border-radius: 3px;
}

